<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Materialize CSS 1.0.0 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Material Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- JQuery 3.5.0 -->
    <script language="JavaScript" type="text/javascript" src="https://code.jquery.com/jquery-3.5.0.min.js"></script>

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% block body %}
{% endblock %}

    <!-- Materialize JS 1.0.0 -->
    <script language="JavaScript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Own js -->
    <script src="{% static 'core/js/core.js' %}"></script>

</body>
</html>